{% extends 'base.html' %}
{% load static %}

{% block title %}Detail{% endblock %}

{% block content %}
    <div class="container">
        <h4 class="product-title">Ducati Panigale</h4>
        <p>One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem, for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize readability for the user. Line length stays between 45-80 characters and line height scales to be larger on smaller screens. To see Flow Text in action, slowly resize your browser and watch the size of this text body change! Use the button above to toggle off/on flow-text to see the difference!</p>
        <div class="row">
            <div class="col s12 m6">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/FH77iTDELBg" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col s12 m6">
                <img class="materialboxed responsive-img" data-caption="Ducati Panigale" src="{% static 'img/bike1.jpg' %}">
            </div>
        </div>
        <div class="row">
            <div class="col m4 s12 offset-m4 center">
                <b>P 100.00</b>
                <button data-target="order" class="waves-effect waves-light btn-large modal-trigger">
                    <i class="material-icons left">shopping_cart</i>ORDER
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="fb-comments" data-href="{{ url }}" data-numposts="5"></div>
            </div>
        </div>
    </div>
    
    <div id="order" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Order</h4>
            <p>For orders and reservations please call or text <b>09432597535</b> and look for <b>Mr. Robert Gelaga</b>.</p>
            <p>You can also visit us at our office located in <b>Isidro Kintanar St, Argao, Cebu</b></p>
            <div class="center">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3930.6203837699727!2d123.59696231530911!3d9.882180892931988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33abc5e916ef4e09%3A0x5ed9e89b227e75a!2sCebu+Technological+University+(CTU)+-+Argao+Campus!5e0!3m2!1sen!2sph!4v1476109972833" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Okay</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <div id="fb-root"></div>

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=349879395357745";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}