{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        {% for object in object_list %}
            <div class="col s12 m4">
                <div class="card small">
                    <div class="card-image">
                        <img src="{{ object.image_url }}">
                        <span class="card-title">{{ object.name }} - {{ object.brand.name }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ object.description }}</p>
                    </div>
                    <div class="card-action">
                        <a href="{% url 'detail' object.pk %}">View</a>
                    </div>
                </div>
            </div>
        {% endfor %}        
    </div>
{% endblock %}